<div>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/test">Test</a>
    <a href="/registration">Registration</a>
    <a href="/login">Login</a>

    <!--<a ng-if="isAuth" href="/profile">Profile</a>-->
    <!--<a ng-if="isAuth" href="/test">Test</a>-->
    <!--<a ng-if="!isAuth" href="/registration">Registration</a>-->
    <!--<a ng-if="!isAuth" href="/login">Login</a>-->
</div>
