<form ng-submit="login()">

    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Enter name" ng-model="this.loginData.username">
    <br>

    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Enter password" ng-model="this.loginData.password">
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>