<form ng-submit="regUser()">

    <label for="email">Email address</label>
    <input id="email" type="email" placeholder="Enter email" ng-model="this.regData.email">
    <br>

    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Enter name" ng-model="this.regData.username">
    <br>

    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Enter password" ng-model="this.regData.password">
    <br>

    <button type="submit">Submit</button>

</form>